@import "../assets/sass/variables.scss";

.container {
  padding: 1rem 4rem;
  font-family: $mainFamily;
  background-color: $black;
  opacity: 0.7;

  nav {
    max-width: 67%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    img {
      transition: 0.8s;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .navitems {
    display: none;
    align-items: center;
    flex: 1;
    justify-content: flex-end;

    li {
      padding: 0.3rem;
      font-size: $font-size-18px;
      color: $white;
      font-weight: bold;
      cursor: pointer;
      transition: 0.8s;
      position: relative;
      overflow: hidden;
      background: linear-gradient(to right, red, red 50%, white 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 400ms ease;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
      &:hover {
        background-position: 0 100%;
      }

      .langLogo {
        margin: 0.5rem 0.5rem;
        width: 2rem;
        height: 1.3rem;
        margin: 0 auto;
      }
    }
    @media (max-width: 740px) {
      display: flex;
    }
    @media (max-width: 425px) {
      font-size: $font-size-16px;
    }
  }
  .navitemsVisable {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    li {
      padding: 0 1rem;
      font-size: $font-size-14px;
      color: $white;
      font-weight: bold;
      cursor: pointer;
      transition: 0.8s;
      position: relative;
      overflow: hidden;
      background: linear-gradient(to right, red, red 50%, white 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 400ms ease;
      &:hover {
        background-position: 0 100%;
      }
      .langLogo {
      }
      @media (max-width: 768px) {
        font-size: 1.8rem;
      }
      @media (max-width: 741px) {
        display: none;
      }
      .langLogo {
        width: 2rem;
        height: 1.3rem;
      }
    }
  }
}
