@import "../assets/sass/variables.scss";

.Layout {
  background-color: transparent;
  width: 100%;
  .gifContainer {
    background-image: url("../../assets/landingpage.webp");
    background-size: cover;
    height: 100vh;
    background-color: black;
    opacity: 0.9;
    // padding: 0;
    // margin: 0;
  }

  .textCollectionLandingPage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    img {
      width: 50%;
      @media (max-width: 425px) {
        display: none;
      }
    }

    h1 {
      padding: 2rem 0;
      font-family: fantasy;
      font-weight: $weight400;
      font-size: 4.4rem;
      line-height: 1.26;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 5.8rem;
      }
    }
    p {
      font-family: $mainFamily;
      font-weight: $weight400;
      font-size: $font-size-16px;
      width: 82%;
      line-height: 1.5;
      color: $white;
      text-align: center;
      padding: 2rem;
      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }
    button {
      padding: 1.5rem 5rem;
      border-radius: 2rem;
      border-style: none;
      box-shadow: none;
      margin: 0 auto;
      font-size: $font-size-13px;
      transition: 0.8s;
      @media (max-width: 768px) {
        font-size: 1.8rem;
      }
      &:hover {
        background-color: #b73539;
        color: white;
        font-weight: 700;
      }
    }
  }
}
