// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// Breakpoints
$bp-desktop-1024: 64em;
$bp-tablet-768: 48em;
$bp-tablet-600: 37.5em;
$bp-tablet-500: 31.25em;
$bp-mobile_l-425: 26.57em;
$bp-mobile_s-320: 20em;


