//Font size
$font-size-10px: 1rem;
$font-size-11px: 1.1rem;
$font-size-12px: 1.2rem;
$font-size-13px: 1.3rem;
$font-size-14px: 1.4rem;
$font-size-15px: 1.5rem;
$font-size-16px: 1.6rem;
$font-size-17px: 1.7rem;
$font-size-18px: 1.8rem;
$font-size-24px: 2.4rem;
$font-size-28px: 2.8rem;
$buttonFontsize: 1.3rem;
$h1fontSize: 4.5rem;
$h2fontSize: 3.3rem;
$h3fontSize: 1.3rem;
$h4fontSize: 1.4rem;
$h5fontSize: 2.4rem;
$p1fontSize: 1.4rem;
$p2fontSize: 1.3rem;
$p3fontSize: 1.1rem;
$p4fontSizePrice: 2.4rem;
$photoFontSize: 1.7rem;
//Font color
$white: white;
$black: black;
$red: #b73539;
//Font family
$mainFamily: 'Maven Pro', sans-serif;
$paragraph: Open Sans;
//Font weight
$weight400: 400;