@import "../assets/sass/variables.scss";

.container {
  padding: 9rem 0;
  background-color: #383838;

  .wrapper {
    max-width: 67%;
    margin: 0 auto;

    .textContainer {
      padding: 5rem 0;
      font-size: $h2fontSize;
      text-align: center;
      color: white;
      font-weight: 800;
      font-family: "Maven Pro", sans-serif;
      @media (max-width: 768px) {
        font-size: 4rem;
      }
    }

    .workingWithLogos {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      max-height: auto;
      .sliderimg {
        height: 100px;
        padding: 0 1rem;
      }
      .imgContainer {
        width: 150px;
        height: 80px;
        margin: 0 1rem;
      }
    }
  }
}
